form {
  background: white;
  padding: 2.5rem;
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  margin: 3rem auto 0;
  border-top: 4px solid #7ed321;
  width: 60%;
  div {
    margin-bottom: 1.5rem;
  }
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #2c2c2c;
  font-size: 1rem;
}

.required {
  color: #e91e63;
}

input, select, textarea {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid #e0e0e0;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #4a90e2;
  background-color: white;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

.submit-btn {
  background: #7ed321;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.submit-btn:hover {
  background: #468800;
  transform: translateY(-2px);
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  color: var(--text-color, #333);
}